<ion-view title="Notifications">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="button-bar"></div>
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Name</h2>
                <p>Mobile Number</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Name</h2>
                <p>27/02/2016</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Name</h2>
                <p>27/02/2016</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Name</h2>
                <p>27/02/2016</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>