<ion-view title="Sign Up">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <input type="text" placeholder="Name">
                </label>
                <label class="item item-input">
                    <input type="email" placeholder="Email">
                </label>
                <label class="item item-input">
                    <input type="tel" placeholder="Mobile Number">
                </label>
            </ion-list>
            <button class="button button-positive button-block ">Sign up</button>
        </form>
    </ion-content>
</ion-view>