<ion-view title="Verification">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <input type="text" placeholder="Enter OTP">
                </label>
            </ion-list>
            <button class="button button-positive button-block ">Verify</button>
            <a href="#" onclick="window.open('/signup', '_system', 'location=yes'); return false;" class="button button-positive button-clear button-block button-small">Resend OTP</a>
        </form>
    </ion-content>
</ion-view>